<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="main">

        <div class="container">
            <form method="POST" class="appointment-form" id="appointment-form">
                <div class="form-group-1">
                    <h2>Error</h2>
                    <div class="form-row">
                        <div class="form-group">
                            <label>Status:</label>
                        </div>
                        <div class="form-group-ans">
                            <label><%= error %></label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label>Message:</label>
                        </div>
                        <div class="form-group-ans">
                            <label><%= message %></label>
                        </div>
                    </div>
                </div>
                <div class="form-submit">
                    <input type="reset" name="back" id="back" class="cancel" url="<%= backURL %>" value="Back" />
                </div>
            </form>
        </div>

    </div>
    <!-- JS -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>