<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Packer UI</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="main">

        <div class="container">
            <div class="logo"><img src="/images/logo.jpeg"/></div>
            <form method="POST" class="appointment-form" id="appointment-form">
                <h2>Packer UI</h2>
                <div class="form-row">
                	<div class="form-group">
                        <label>Node ID:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= nodeID %></label>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                        <label>Node Type:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= nodeType %></label>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                        <label>User ID:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= userID %></label>
                    </div>
                </div>
                <!-- <div class="form-row">
                	<div class="form-group">
                        <label>Organization:</label>
                    </div>
                    <div class="form-group-ans">
                        <label>Harvester</label>
                    </div>
                </div> -->
                <div class="form-row">
                	<div class="form-group">
                        <label>Product:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= productName %></label>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                        <label>Container ID:</label>
                    </div>
                    <div class="form-group-ans">
                        <label>C100001</label>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                        <label>Package Type:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= packageType %></label>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                        <label>Batch No:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= bbatchNo %></label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label>QR Code:</label>
                    </div>
                    <div class="form-group-ans">
                        <div id="qrcode"></div>
                        <label><%= dqrCodeID %></label>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                        <label>Location:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= location %></label>
                    </div>
                </div>
                
                <div class="form-submit">
                    <input type="reset" name="cancel" id="back" url ="/packer" class="cancel" value="Back" />
                    <input type="reset" name="printQR" id="printQR" class="submit" value="Print QR Code" />
                </div>
            </form>
        </div>

    </div>
    <!-- JS -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/js/qrcode.min.js"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var qrcode = new QRCode(document.getElementById("qrcode"), {
                text: '<%= dqrCodeID %>',
                width: 200,
                height: 200,
                colorDark : "#000000",
                colorLight : "#ffffff",
                correctLevel : QRCode.CorrectLevel.H
            });
        });
    </script>
</body>
</html>