<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Littlepo Query</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="main">

        <div class="container">
            <div class="logo"><div><img src="/images/logo.jpeg"/></div></div>
            <form method="POST" class="appointment-form" id="appointment-form">
                <h2>Littlepo Query</h2>
                <div class="form-row">
                	<div class="form-group">
                        <label>User ID:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= producerID %></label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label>Batch No:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= productBatchNo %></label>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                        <label>Product Id:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= productID %></label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label>Product:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= productName %></label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label>PackageId:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= packageID %></label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label>Created Time</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= !creationTime?"":creationTime %></label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label>LegalEntity:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= legalEntity %></label>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                        <label>Location:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= location %></label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label>TxHash</label>
                    </div>
                    <div class="form-group-ans" style="word-break: break-all;">
                        <label><%= !txHash?"":txHash %></label>
                    </div>
                </div>
                
                <div class="form-submit" style="text-align: center;">
                    <button type="reset" name="cancel" id="back" class="submit" url="/producttrackinghistory?qrCodeId=<%= trackingQRCode %>" value="">Close</button>
                </div>
            </form>
        </div>
    </div>
    <!-- JS -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/js/qrcode.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>